<form (ngSubmit)="formSubmit()">
  <div class="row">
    <div class="col-sm-12 col-md-6 form-group">
      <input type="text" [(ngModel)]="data.firstName" name="firstName" class="form-control" placeholder="First Name">
    </div>
    <div class="col-sm-12 col-md-6 form-group">
      <input type="text" [(ngModel)]="data.lastName" name="lastName" class="form-control" placeholder="Last Name">
    </div>
  </div>
  <div class="form-group">
    <input type="email" [(ngModel)]="data.email" name="email" class="form-control" placeholder="E-mail">
  </div>
  <div class="form-group">
    <input type="password" [(ngModel)]="data.password" name="password" class="form-control" placeholder="Password">
  </div>
  <header>
    <p>Account Type</p>
  </header>
  <div class="row form-group">

    <div class="4u 12u$(xsmall) col-md-3">
      <input type="radio"[(ngModel)]="data.accountType" value="teacher" id="teacher" name="account-type" checked="">
      <label for="teacher">Teacher</label>
    </div>
    <div class="4u 12u$(xsmall) col-md-3">
      <input type="radio" [(ngModel)]="data.accountType" value="student" id="student" name="account-type">
      <label for="student">Student</label>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <input type="submit" value="Submit">
    </div>
  </div>

</form>

