<div class="row">
    <div class="col-sm-12">
        <form (ngSubmit)="formSubmit()">

            <div class="form-group">
                <label for="name">Name of the class</label>
                <input type="text" [(ngModel)]="data.name" id="name" name="name" class="form-control" placeholder="Name">

            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" id="location" [(ngModel)]="data.location" name="location" class="form-control" placeholder="Location">
            </div>

            <div class="form-group">
                <input type="checkbox" id="discoverable" [(ngModel)]="data.isDiscoverable" name="discoverable" checked="">
                <label for="discoverable">Let class to discovered by a search</label>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>

    </div>

</div>

