<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>
          {{currentClass.name}}
        </h2>
        <ul class="header-dropdown m-r--5">
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">more_vert</i>
            </a>
            <ul class="dropdown-menu pull-right">
              <button type="button" (click)="answerQuestion(1)" class="btn btn-primary waves-effect m-r-20" data-toggle="modal" data-target="#question-teacher-modal">Answer Question</button>

              <li><a href="javascript:void(0);" data-toggle="modal" data-target="#create-lecture"  class=" waves-effect waves-block">Create New Lecture</a></li>
              <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
              <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="body">
        <!--Summary of the class room-->
        <div class="body">
          <ul class="list-group">
            <li class="list-group-item">Feedback <span class="badge bg-pink">{{feedbackCount}} new</span></li>
            <li class="list-group-item">Questions<span class="badge bg-cyan">{{questionCount}} new</span></li>
            <li class="list-group-item">Lectures<span class="badge bg-teal">{{lectureCount}}</span></li>
          </ul>
        </div>
        <!--Summary of the class room-->


        <!--<div class="card">-->
        <!--Header of the lecture materials-->
        <div class="header">
          <h2>
            Lectures
            <small>Resources are available in each week.</small>
          </h2>
        </div>
        <!--Header of the lecture materials-->


        <!--Lecture weeks-->
        <div class="body">
          <div class="row clearfix">
            <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">

              <div class="panel-group" id="lecture-weeks" role="tablist" aria-multiselectable="true">
                <div *ngFor="let lecture of lectures">
                  <b>Week 1</b>
                  <br><br>
                  <div class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="{{'heading'+lecture._id}}">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#lecture-weeks" href="#{{'collapse-'+lecture._id}}"
                           aria-expanded="true" >
                          {{lecture.lectureSummary}}
                        </a>
                      </h4>
                    </div>

                    <div  id="{{'collapse-'+lecture._id}}" class="panel-collapse collapse in" role="tabpanel">
                      <div class="panel-body">
                        <div class="body">
                          <!-- Nav tabs -->
                          <ul class="nav nav-tabs tab-nav-right" role="tablist">
                            <li role="presentation" class=""><a href="#{{'lecture'+lecture._id}}" data-toggle="tab" aria-expanded="false">Lecture
                              Materials</a></li>
                            <li role="presentation" class=""><a href="#{{'questions'+lecture._id}}" data-toggle="tab" aria-expanded="false">Questions</a>
                            </li>
                            <li role="presentation" class="active"><a href="#{{'feedback'+lecture._id}}" data-toggle="tab"
                                                                      aria-expanded="true">Feedback</a></li>
                          </ul>

                          <!-- Tab panes -->
                          <div class="tab-content">
                            <!--Lecture materials tab panel-->
                            <div role="tabpanel" class="tab-pane fade" id="{{'lecture'+lecture._id}}">

                              <ul class="list-group">
                                <li class="list-group-item" *ngFor="let material of lecture.materials">
                                  {{material.details}}|{{material.type}}
                                  {{material.link}}
                                  <a href="javascript:void(0);" (click)="removeLectureMaterial(material._id)"><span class="badge bg-teal pull-right">Remove</span></a>
                                  <a href="javascript:void(0);"><span class="badge bg-teal pull-right">Download</span></a>
                                </li>

                              </ul>

                              <button type="button" (click)="showAddMaterialModal(lecture._id)" class="btn btn-success waves-effect m-r-20" data-toggle="modal" data-target="#lecture-material-teacher-modal">Upload Material</button>
                            </div>
                            <!--Lecture materials tab panel-->

                            <!--Questions tab panle-->
                            <div role="tabpanel" class="tab-pane fade" id="{{'questions'+lecture._id}}">
                              <div class="list-group">

                                <a href="javascript:void(0);" *ngFor="let question of lecture.questions" class="list-group-item">
                                  <h4 class="list-group-item-heading">{{question.title}}</h4>
                                  <p class="list-group-item-text">
                                    {{question.details}}
                                    <button type="button" (click)="viewAnswerQuestionModal(question._id)" class="btn btn-primary waves-effect m-r-20" data-toggle="modal" data-target="#question-teacher-modal">Answer Question</button>
                                    <button type="button" (click)="viewAnswer(question._id)" class="btn btn-primary waves-effect m-r-20" data-toggle="modal" data-target="#question-student-modal">View Answer</button>
                                    <button type="button" (click)="removeQuestion(question._id)" class="btn btn-danger waves-effect m-r-20" >Remove Question</button>
                                  </p>

                                </a>

                              </div>

                              <button type="button" (click)="showAskQuestionModal(lecture._id)" class="btn btn-primary waves-effect m-r-20" data-toggle="modal" data-target="#add-question-student-modal">Add Question</button>

                            </div>
                            <!--Questions tab panle-->

                            <!--Feedback tab panle-->
                            <div role="tabpanel" class="tab-pane fade active in" id="{{'feedback'+lecture._id}}">
                              <div class="list-group">

                                <a href="javascript:void(0);" class="list-group-item" *ngFor="let feedback of lecture.feedbacks">
                                  <h4 class="list-group-item-heading">{{feedback.semantic}}</h4>
                                  <p class="list-group-item-text">
                                    {{feedback.details}}
                                    <!--<button type="button" (click)="viewFeedback(1)" class="btn btn-primary waves-effect m-r-20" data-toggle="modal" data-target="#feedback-teacher-modal">View Feedback</button>-->
                                    <button type="button" (click)="removeFeedback(feedback._id)" class="btn btn-danger waves-effect m-r-20" >Remove Feedback</button>
                                  </p>

                                </a>



                              </div>
                              <button type="button" (click)="showAddFeedbackModal(lecture._id)" class="btn btn-primary waves-effect m-r-20" data-toggle="modal" data-target="#add-feedback-student-modal">Add Feedback</button>

                            </div>
                            <!--Feedback tab panle-->
                          </div>
                          <!-- Tab panes -->

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <br>


              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!--modal for viewing and answering the question-->
<div class="modal fade" id="question-teacher-modal" tabindex="-1" role="dialog" style="display: none;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="largeModalLabel">{{currentViewingQuestion.title}}</h4>
      </div>
      <div class="modal-body">
       {{currentViewingQuestion.details}}

        <div class="row clearfix">
          <div class="col-sm-12">
            <div class="form-group">
              <div class="form-line">
                <textarea rows="4" [(ngModel)]="submitAnswer.details"class="form-control no-resize" placeholder="Please type what you want..."></textarea>
              </div>
            </div>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link waves-effect" (click)="saveAnswer()">SAVE CHANGES</button>
        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>
<!--modal for viewing and answering the question-->

<!--modal for uploading lecture materials-->
<div class="modal fade" id="lecture-material-teacher-modal" tabindex="-1" role="dialog" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="lecture-material-title">Upload a material</h4>
      </div>
      <div class="modal-body">

        <div class="row clearfix">


          <div class="col-sm-12">
            <div class="form-group">
              <div class="form-line">
                <input type="text" class="form-control" [(ngModel)]="submitMaterial.type" placeholder="Type">
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <div class="form-line">
                <input type="text" class="form-control" [(ngModel)]="submitMaterial.details" placeholder="Details">
              </div>
            </div>
          </div>




          <div class="col-sm-12">
            <form action="/" id="frmFileUpload3" class="dropzone dz-clickable" method="post" enctype="multipart/form-data">
              <div class="dz-message">
                <div class="drag-icon-cph">
                  <i class="material-icons">touch_app</i>
                </div>
                <h3>Drop files here or click to upload.</h3>
                <em>(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</em>
              </div>

            </form>
          </div>




        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link waves-effect" (click)="saveMaterial()">SAVE CHANGES</button>

        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>
<!--modal for uploading lecture materials-->

<!--modal for adding feedback-->
<div class="modal fade" id="add-feedback-student-modal" tabindex="-1" role="dialog" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="student-feadback-title">Give Feedback</h4>
      </div>
      <div class="modal-body">
        <div class="row clearfix">
          <div class="col-sm-12">
            <div class="form-group">
              <div class="form-line">
                <textarea rows="4" [(ngModel)]="submitFeedback.details"class="form-control no-resize" placeholder="Please type what you want..."></textarea>
              </div>
            </div>
          </div>

          <div class="demo-radio-button">
            <input name="group1" type="radio" class="with-gap" [(ngModel)]="submitFeedback.semantic" value="bad" id="feedback_radio_1">
            <label for="feedback_radio_1">Bad</label>
            <input name="group1" type="radio" class="with-gap"[(ngModel)]="submitFeedback.semantic" value="neutral" id="feedback_radio_2">
            <label for="feedback_radio_2">Nuetral</label>
            <input name="group1" type="radio" class="with-gap"[(ngModel)]="submitFeedback.semantic" value="bad" id="feedback_radio_3">
            <label for="feedback_radio_3">Good</label>

          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link waves-effect" (click)="saveFeedback()">SAVE CHANGES</button>
        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>
<!--modal for adding feedback-->

<!--modal for adding questions-->
<div class="modal fade" id="add-question-student-modal" tabindex="-1" role="dialog" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="student-question-title">Add Question</h4>
      </div>
      <div class="modal-body">
        <div class="row clearfix">


          <div class="col-sm-12">
            <div class="form-group">
              <div class="form-line">
                <input type="text" class="form-control" [(ngModel)]="submitQuestion.title" placeholder="Title">
              </div>
            </div>
          </div>


          <div class="col-sm-12">
            <div class="form-group">
              <div class="form-line">
                <textarea rows="4" [(ngModel)]="submitQuestion.details"class="form-control no-resize" placeholder="Please type what you want..."></textarea>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <form action="/" id="frmFileUpload2" class="dropzone dz-clickable" method="post" enctype="multipart/form-data">
              <div class="dz-message">
                <div class="drag-icon-cph">
                  <i class="material-icons">touch_app</i>
                </div>
                <h3>Drop files here or click to upload.</h3>
                <em>(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</em>
              </div>

            </form>
          </div>




        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link waves-effect" (click)="saveQuestion()">SAVE CHANGES</button>
        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>
<!--modal for adding questions-->


<!--modal for viewing answers-->
<div class="modal fade" id="question-student-modal" tabindex="-1" role="dialog" style="display: none;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="studentModal">{{currentViewingQuestion.title}}</h4>
      </div>
      <div class="modal-body">
        {{currentViewingQuestion.details}}
        <br>
        Answer:

        {{currentViewingAnswer.details}}


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>
<!--modal for viewing answers-->



<!--modal for creating new lecture-->
<div class="modal fade" id="create-lecture" tabindex="-1" role="dialog" style="display: none;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="createLectureLabel">Create New Lecture</h4>
      </div>
      <div class="modal-body">

        <div class="row clearfix">
          <div class="col-sm-12">

            <div class="form-group">
              <div class="form-line">
                <input type="text" [(ngModel)]="createLectureDetails.lectureTitle" class="form-control" placeholder="Lecture Title">
              </div>
            </div>

            <div class="form-group">
              <div class="form-line">
                <input type="text" [(ngModel)]="createLectureDetails.lectureSummary" class="form-control" placeholder="Lecture Summary">
              </div>
            </div>


          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link waves-effect" (click)="createLecture()">Save Lecture</button>
        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--modal for creating new lecture-->
