<div>
    <div class="row">
        <div class="col-sm-12">

            <a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">Create New Class Room</a>
        </div>
    </div>

    <div class="row">

        <div *ngFor="let classroom of classes">


                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" style="height: 11rem" src="https://www.cstatic-images.com/stock/570x380/28/img168625605-1487348801228.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">{{classroom.name}}</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <!--<a href="javascript:void(0)" (click)="removeClass(classroom.id)" class="card-link">Remove Class</a>-->
                            <!--<a href="javascript:void(0)" (click)="viewClass(classroom.id)" class="card-link">View Class</a>-->
                            <a href="javascript:void(0)" (click)="removeClass(classroom._id)" class="button alt small">Remove Class</a>

                            <a href="javascript:void(0)" (click)="viewClass(classroom._id)" class="button special small">View Class</a>
                        </div>
                    </div>
                </div>

        </div>
    </div>


    <div style="margin: 100px; " class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <class-form></class-form>
            </div>
        </div>
    </div>

</div>

