<nav-bar></nav-bar>


<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>
          Search Classes
        </h2>

      </div>
      <div class="body">

        <div class="row clearfix">
          <div class="col-sm-12">
            <div class="form-group">
              <div class="form-line">
                <input type="text" class="form-control" placeholder="Keywords" [(ngModel)]="keyword" (keyup)="keywordChange()">
              </div>
            </div>
          </div>
        </div>

      </div>

      <div *ngFor="let classRoom of classes">
        <div class="header">
          <h2>
            {{classRoom.name}}
          </h2>

        </div>
        <div class="body">
          {{classRoom.location}}
          <br>
          <button type="button" class="btn btn-primary waves-effect" (click)="enrollStudent(classRoom._id)">Enroll</button>
        </div>
      </div>





    </div>
  </div>


</div>
