<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <base href="/">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Welcome To | Bootstrap Based Admin Template - Material Design</title>
    <%- include partials/scripts.ejs %>

    <%include partials/template-styles.ejs%>

</head>

<body class="theme-red">


<%include partials/template-loader.ejs%>
<%include partials/template-overlay.ejs%>
<%include partials/template-search-bar.ejs%>
<%include partials/template-navbar.ejs%>
<%include partials/template-sidebar.ejs%>



<section class="content">
    <div class="container-fluid">

        <div class="block-header">
            <h2>DASHBOARD</h2>
        </div>
        <input type="text" value="<%= id %>">
        <classroom></classroom>

    </div>
</section>

<%include partials/template-scripts.ejs%>


</body>

</html>