<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>ClassMate| Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- include partials/scripts.ejs %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>

<%- include partials/navbar.ejs %>


<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">
        <header class="major special" style="margin-bottom: 10px">
            <h2>Dashboard - Teacher</h2>
        </header>


        <!-- Form -->
        <section>
            <h1>Dashboard here</h1>
            <dashboard></dashboard>
        </section>

        <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">-->
            <!--Launch demo modal-->
        <!--</button>-->

        <!--&lt;!&ndash; Modal &ndash;&gt;-->
        <!--<div class="modal fade"style="margin-top: 100px;" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
            <!--<div class="modal-dialog modal-lg" role="document">-->
                <!--<div class="modal-content">-->

                    <!--<div class="modal-body">-->
                        <!--<class-form></class-form>-->
                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->



    </div>
</section>

<%- include partials/footer.ejs %>
<%- include partials/extra-scripts.ejs%>






</body>
</html>