<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>ClassMate| Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- include partials/scripts.ejs %>

    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>

<%- include partials/navbar.ejs %>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">
        <header class="major special" style="margin-bottom: 10px">
            <h2>Dashboard - Teacher</h2>
        </header>


        <!-- Form -->
        <section>
                <class-form></class-form>


        </section>




    </div>
</section>

<%- include partials/footer.ejs %>


<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>