<html>
<head>
    <title>MyTaskList</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include partials/scripts.ejs %>

</head>
<!-- 3. Display the application -->
<body>
<login> Wait for login</login>


<!--<my-app>Loading...</my-app>-->
</body>
</html>