<!-- Search Bar -->
<div class="search-bar">
  <div class="search-icon">
    <i class="material-icons">search</i>
  </div>
  <input type="text" placeholder="START TYPING...">
  <div class="close-search">
    <i class="material-icons">close</i>
  </div>
</div>
<!-- #END# Search Bar -->

<!-- Top Bar -->
<nav class="navbar">
  <div class="container-fluid">

    <div class="navbar-header">
      <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
      <a href="javascript:void(0);" class="bars"></a>
        <a class="navbar-brand" href="javascript:void(0);">Class<b>MATE</b></a>
    </div>


  </div>
</nav>
<!-- #Top Bar -->

<!--Sidebar-->
<section>
  <!-- Left Sidebar -->
  <aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
      <div class="image">
        <img src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/15319104_10154928009592089_5944557202204530632_n.jpg?oh=98aa716a2e0c8051407d2559a10930c5&oe=5973848B" width="48" height="48" alt="User" />
      </div>
      <div class="info-container">
        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{this.userService.getFirstName()}} {{this.userService.getLastName()}}</div>
        <div class="email">{{this.userService.getAccountType()}}</div>
        <div class="btn-group user-helper-dropdown">
          <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
          <ul class="dropdown-menu pull-right">

            <li><a href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
      <ul class="list">
        <li class="header">MAIN NAVIGATION</li>
        <li >
          <a href="javascript:void(0);" (click)="gotoDashboard()">
            <i class="material-icons">home</i>
            <span>Home</span>
          </a>
        </li>
        <li *ngIf="this.userService.getAccountType()=='student'">
          <a href="javascript:void(0);" (click)="findClasses()">
            <i class="material-icons">search</i>
            <span>Find Classes</span>
          </a>
        </li>

        <li *ngIf="this.userService.getAccountType()=='teacher' && this.userService.getAccountLevel()=='free'">
          <a href="/payment.html">
            <i class="material-icons">shopping_cart</i>
            <span>Upgrade</span>
          </a>
        </li>


        <li>
          <a href="javascript:void(0);">
            <i class="material-icons">help</i>
            <span>About Us</span>
          </a>
        </li>

      </ul>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
      <div class="copyright">
        &copy; 2016
      </div>
      <div class="version">
        <b>Version: </b> 0.1
      </div>
    </div>
    <!-- #Footer -->
  </aside>


</section>
<!--Sidebar-->
